 
body{
    background-color:lightblue;
}
hr{
     
    /* background-color: palevioletred; */
    /* height:3px;   */
    /* border-style: dotted none none ; */
    border-style: none;
    border-top-style:dotted ;
    border-color: grey;
    border-width: 5px;
}
img{
    height:250px;
}
 h2,h3{
color:peru;
 }